.list {
   background-color: white;
   color: black;
}

.list:hover {
   background-color: hsl(171, 100%, 41%);
   color: white;
}

.search {
   background-color: white;
   color: black;
}

.search:hover {
   background-color: hsl(348, 100%, 61%);
   color: white;
   cursor: pointer;
}

strong {
   color: white !important;
}
